################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/30DegreesToMars_v2/FileContentIndex/3d5acbc2-f314-469e-9f55-a7060a1731de.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/7c98d6f0-7ff8-43a4-aaad-0b8156c5fcd3.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/92228247-9de9-4e21-bc1f-27c05b783d8e.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/a2867887-ac91-4d38-828e-8606abf8ba18.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/b04af641-ee48-4ed8-886f-0609cca07170.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/bc248810-2bbc-4242-aae2-6de6427cf510.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/c339887e-41f9-409f-bd0a-dde20b8cffca.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/cead6e20-f299-4afc-9228-91c46e6136e5.vsidx
/.vs/30DegreesToMars_v2/v17/.suo
/.vs/30DegreesToMars_v2/FileContentIndex/e4e66b85-5798-4555-91ca-95dc15c02729.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/92526601-254d-4b4c-b373-86bd296ea78e.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/88e1aaf7-ff4f-4eed-9774-41a5f21d39b5.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/b15b7add-c832-49ed-a336-bff8abf09ccb.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/396829e5-2046-4a0a-b07d-d4c4cd6afab5.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/809609f8-ccd9-4877-9a11-01ed47f2aa77.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/a8d5c1ac-6d42-4940-b64d-d271ff735e57.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/5065d6e5-590f-4ecf-a235-fad553cf9f72.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/a6577644-ded8-452e-b086-7a9af7e108c4.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/4d2b9085-7479-4bf6-b959-cbca5a490184.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/9ee936b8-15be-4e60-8c9f-a37c5b175925.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/d6ec80e0-a7e1-4f1d-9fc3-85c2a7caece4.vsidx
/.vs/30DegreesToMars_v2/FileContentIndex/54b0d8ca-59ff-413b-a706-160b5ca48880.vsidx
