@using WebMatrix.Data;
@{
    var db = Database.Open("dbconnection_cs");
    var dbdata = db.Query("Select daterecord,overall_health From [project_MIS332].[dbo].[vw_overall_health]");
    var myChart = new Chart(width: 600, height: 400)
       .AddTitle("Overall Health")
       .DataBindTable(dataSource: dbdata, xField: "daterecord")
       .Write();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Overall Health</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
